.error-page{
    background-color: #BB1F37;
    height: 100vh;
}

.error-container {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
}

.error-logo {
    width: 700px;
    height: 250px;
    text-align: center;
}

.error-bar {
    height: 5px;
    color:white;
    background-color: white;
    border-radius: 20px;
    outline: none;

    margin-top: 20px;
}

#error-message {
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}