/*nav-bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}
  
li, #navbartext {
float: right;
}

li a, #navbartext {
display: block;
color: black;
text-align: center;
padding: 22px 30px;
text-decoration: none;

}
  
li a:hover, li a:focus, li a:active {
    background-color: whitesmoke;
    color: darkgray;
}

.logo {
    width: 150px;
    height: 60px;
    padding: 0px;
}

/* body */
.body-container {
    align-items: center;
    padding-top: 80px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    float: center;
    width: 100%;
    text-align: center;
}

.column2{
    flex: 50%;
    padding: 20px;
    text-align: center;
}

.column3 {
    flex: 33.33%;
    padding: 20px;
    text-align: center;
}

/* images */
.phbody {
    width: 97%;
    height: 97%;
}

