#loginbody {
    display: flex;
    justify-content: center;
    align-content: center;
}


.login-container{
    background: white;
    justify-content: center;
    align-content: center;
    display: flexbox;
    text-align: center;
    padding: 20px;
    width: 300px;
    height: 400px;
    float: center;
    margin: auto;
    margin-top: 5%;
}

/* button */
.button {
    background-color: darkgray;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    font-size: 12;
    padding: 7px;
    border-radius: 12px;
    transition-duration: 0.4s;
    display: inline-block;
    border: none;
    margin: 5px;
}

.button:hover {
    background-color: lightgray;
    color: darkgray;
}

